doctype html
/[if lt IE 7]
  | <html class="ie ie6 lt-ie9 lt-ie8 lt-ie7">
/[if IE 7]
  | <html class="ie ie7 lt-ie9 lt-ie8">
/[if IE 8]
  | <html class="ie ie8 lt-ie9">
/[if IE 9]
  | <html class="ie ie9">
| <!--[if (gte IE 9)|!(IE)]<!-->
html
  | <!--<![endif]-->
  head
    meta charset="utf-8"

    title = "#{@item[:title]} - George Pittarelli"
    link rel="stylesheet" type="text/css" href="/style.css" media="screen"

    meta name="generator" content="nanoc #{Nanoc::VERSION}"
    meta name="viewport" content="width=device-width"

    script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"
    script type="text/javascript" src="/script.js"

    javascript:
      var _gaq=_gaq||[];_gaq.push(['_setAccount','UA-38334463-1']);_gaq.push(['_trackPageview']);(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src=('https:'==document.location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga, s);})();

  body
    header
      h1#name George&nbsp;<br>Pittarelli
      p
        | Programmer with a passion for the web, currently studying at the University of Maryland.

      ul#places
        li: a(href="http://stackoverflow.com/users/922613/george-p"
              class="site_icon" id="icon_so")
        li: a(href="https://github.com/gpittarelli"
              class="site_icon" id="icon_github")

      div class="clear"

      nav
        ul
          li: a href="/" Home
          li
            a href="/" Projects
            ul
              li: a href="/2013/01/21/DIY-AVR-fan-controller/"
                | DIY Fan controller
              li: a href="/" This site
          li: a href="/" Contact

    div#main
      == yield

      / push the footer down
      div#push


    footer
      | &copy; George Pittarelli 2013
