@import "vars.less";

header {
  position: inherit;

  background: url('/images/pattern.png') repeat;
  width: 100%;
  float: left;

  box-shadow: 0 -13px 10px -10px black inset;

  padding: 10px 0 10px 10px;

  h1#name {
    font-family: 'Monda';
    font-size: 30px;
    font-weight: normal;

    line-height: 30px;

    letter-spacing: -1px;
    color: white;

    width: 100%;

    br {
      display: none;
    }

//    display: inline;
    //    float: left;
    clear: both;
  }

  p {
    display: none;
  }

  ul#places {
    float: right;
    margin-left: 10px;

    li {
      display: inline;

    a.site_icon {
      opacity: 1.0;
    }
    }
  }

  nav > ul {
    float: left;
    margin-top: .5em;

    li > a {
      color: white;

      &:link, &:visited {
        color: white;
      }
      &:hover, &:active {
        color: #ccc;
      }
    }

    ul {
      margin-left: 20px;
    }

    li {
      margin-top: 12px;
    }
  }
}

#main {
  padding: 5px;
}

footer {
  text-align: center;
}