@import "vars.less";

header {
  position: inherit;

  background: url('/images/pattern.png') repeat;
  height: 100px;
  width: 100%;
  float: left;

  box-shadow: 0 -13px 10px -10px black inset;

  padding: 10px 0 0 10px;

  h1#name {
    font-family: 'Monda';
    font-size: 40px;
    font-weight: normal;

    line-height: 40px;

    letter-spacing: -1px;
    color: white;
    display: inline;
    float: left;
  }

  p {
    color: #ccc;
    margin-top: 10px;
    max-width: 90%;
    float: left;
    width: 250px;
    margin-left: 10px;
  }

  div.clear {
    clear: none;
  }

  ul#places {
    float: right;
  }

  nav > ul {
    margin-top: .5em;

    li > a {
      color: white;

      &:link, &:visited {
        color: white;
      }
      &:hover, &:active {
        color: #ccc;
      }
    }

    ul {
      margin-left: 20px;
    }

    li {
      margin-top: 12px;
    }
  }
}

#main {
  padding: 5px;
}

footer {
  text-align: center;
}