@import "vars.less";

header {
  position: fixed;
  top: 0;
  left: 0;

  box-sizing: border-box;

  background: url('/images/pattern.png') repeat;
  height: 100%;
  width: @sidebar-width;
  float: left;
  box-shadow: -13px 0 10px -10px black inset;

  padding: 20px 0 0 20px;

  h1#name {
    font-family: 'Monda';
    font-size: 40px;
    font-weight: normal;

    line-height: 40px;

    letter-spacing: -1px;
    color: white;
  }

  p {
    color: #ccc;
    margin-top: 10px;
    max-width: 90%;
  }

  nav > ul {
    margin-top: .5em;

    li > a {
      color: white;

      &:link, &:visited {
        color: white;
      }
      &:hover, &:active {
        color: #ccc;
      }
    }

    ul {
      margin-left: 20px;
    }

    li {
      margin-top: 12px;
    }
  }
}

footer, #main {
  padding-left: (@sidebar-width + 8);
}