@import "reset.less";
@import "vars.less";

@import url(http://fonts.googleapis.com/css?family=Monda:700);

* {
  font-family: Verdana, Arial, sans-serif;
}

.clear {
  clear: both;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: @bg-color;
}

header, footer {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  &:link, &:visited {
    color: #229;
  }
  &:hover {
    color: black;
    text-decoration: underline;
  }
}

a.site_icon {
  background: url(images/icons.png);
  width: 24px;
  height: 24px;

  margin: .5em .5em 0 0;
  border: 0;
  display: block;
  float: left;

  opacity: .3;
  &:hover {
    opacity: 1.0;
  }
}

/* Currently unused
   a#icon_so {
   } */

a#icon_github {
  background-position-x: 24px;
}

div#push {
  /* Some extra spacing between the footer and content */
  height: @footer-height + 2px;
}

footer {
  height: @footer-height;
  font-size: 11px;
}

#main {
  margin-bottom: -@footer-height;
  min-height: 100%;
  height: auto;

  box-sizing: border-box;
  padding-top: 10px;
  max-width: (650 + @sidebar-width + 15);

  h1 {
    font-size: 40px;
    font-weight: normal;
    line-height: 40px;
    letter-spacing: -1px;

    a {
      color: black;
      &:link, &:visited {
        color: black;
      }
      &:hover {
        color: #229;
        text-decoration: none;
      }
    }
  }

  div#work-in-progress {
    background-color: rgba(200,200,0,0.6);
    border: 2px #ff0 solid;
    padding: 5px;
    margin-top: 10px;
  }

  h2 {
    font-size: 20px;
  }

  p#date {
    margin: 0;
  }

  p {
    margin: 20px 0;

    font-size: 15px;

    line-height: 20px;
  }

  ul, ol {
    margin: 20px;
  }

  li {
    font-size: 15px;

    line-height: 20px;
  }
}

@media @large-display {
  @import "media-large.less";
}

@media @medium-display {
  @import "media-medium.less";
}

@media @small-display {
  @import "media-small.less";
}