@bg-color: #ddd;
@sidebar-width: 265px;
@footer-height: 13px;

@large-display: ~"screen and (min-width: 930px)";
@medium-display: ~"screen and (min-width: 400px) and (max-width: 930px)";
@small-display: ~"screen and (max-width: 400px)";